<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">
				Preview of structure ID {{structures.ID}}
			</h4>
		</div>
		<div class="modal-body">
			{% for k, val in structures %}
				{% if k=='structure' %}
					<div class="img-thumbnail">{{val|raw}}</div>
					<div class="margint">
						{% if keytype=='private' %}
							<a title="Click to edit structure" class="btn btn-primary" data-toggle="modal" href="{{ path ('ketcher', {'key':key, 'id':structures.ID, 'offset':offset }) }}" data-target="#ketcher"><span class="glyphicon glyphicon-pencil"></span> Edit structure</a>
							<a id="clean" title="Clean structure" class=" btn btn-sm btn-info"><span class="glyphicon glyphicon-ok-circle"></span> Clean</a>
						{% endif %}
						<script>
							$("#clean").click(function(){
								$("#previewOne").load("{{ path('clean', {'key':key, 'id':structures.ID})}}");
							});
						</script>
						<a title="View 3D structure" class=" marginl btn btn-sm btn-info" data-toggle="modal" href="{{ path ('3d', {'key': key, 'id':structures.ID }) }}" data-target="#3d"><span class="glyphicon glyphicon-eye-open"> 3D</a>
					</div>
				{% endif %}
				{% if k=='header' %}
					<hr/>
					{%if val %}
						<h4><strong>Header: </strong>{{val}}</h4>	
					{% else %}
						<h4 class="text-danger">No header</h4>
					{% endif %}
				{% endif %}
			{% endfor %}
			<ul>
			{% for k, val in structures %}
				{% if k!='structure' and k!='ID' and k!='header'  %}
					<li><strong>{{k}}: </strong>{{val}}</li>
				{% endif %}
			{% endfor %}			
			</ul>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>

