<form class="row well well-sm text-center form-inline" action="{{path('search', {'key': key})}}" method="POST" id="formsearch">
	<div class="col-lg-4">
		<div class="input-group">
			{{form_widget(formsearch.col, {'id':'coltype' })}}
			{{form_widget(formsearch.searchtypenumeric, {'attr':{'class':'numeric hide-text'} } ) }}
			{{form_widget(formsearch.searchtypetext, {'attr':{'class':'text hide-numeric' }}) }}
		</div>
	</div>
	<div class="col-lg-6">
		<div class="input-group">
			{{form_widget(formsearch.search)}}
			<span class="input-group-btn">
				<button type="input" class="btn btn-sm btn-primary" name="validsearch"><span class="glyphicon glyphicon-search"></span></button>
			</span>
		</div>
		{{form_rest(formsearch)}}
	</div>

	<div class="col-lg-2">
		<a class="btn btn-sm" href="{{ path('reset', {'key': key}) }}">Reset</a>
	</div>
</form>
	<script>
		$(".numeric").hide();
		{% for alias, coltype in coltypes %}
			coltype["{{alias}}"]="{{coltype}}";
		{% endfor %}
		$("#coltype").change(function(){
			var colalias = $("#coltype option:selected").val();
			$("."+coltype[colalias]).show();
			$(".hide-"+coltype[colalias]).hide();
		});
	</script>
